:root{
    --main: #f5efe6;
    --head: #7895b2;
    --radius: 5px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    background-color: var(--main);
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
    display: inline-block;
}

img {
    border-radius: var(--radius);
}

.page-header{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px auto;

}
nav ul li{
margin: 10px;
padding: 3px;
border-bottom: solid var(--head) 1px;

}

h1, h2, h3, h4 {
    font-size: 36px;
    padding: 10px;
}